h1{
    text-align: center;
    margin: 12px 0;
}
.container{
    min-height: 80vh;
    
}

.myform{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.myInput{
width: 40%;
padding: 9px;
margin: 8px;
font-size: 15px;
border: 2px solid red;
border-radius: 12px;
outline: none;
}
.btn{
    padding: 12px 16px;
    font-size: 18px;
    border: 2px solid black;
    color: aliceblue;
    background: rgb(190, 7, 7);
    cursor: pointer;
    border-radius: 10px;
}